<!-- score.html.erb -->
<div class="container mt-5">

  <h1>Result</h1>
  <p><%= sanitize @message %></p>
  <%= link_to "Play again", new_path %>
</div>


<!-- What is your longest word?
lift
******** Now your results ********
Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done! -->
